<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/notification.css') }}">
    <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}" type="image/x-icon">

    <title>Chat</title>
</head>
<body>
    <div id="chatHead">
    </div>
    <section id="chatContainer">
    </section>
    <div id="chatForm">
        <input id="textInput" type="text">
        <button id="sendButton">Отправить сообщение</button>
    </div>
    <div id="popupContainer"></div>
</body>
<script src="{{ url_for('static', path='/js/notification.js') }}"></script>
<script src="{{ url_for('static', path='/js/chat-web-socket.js') }}"></script>
<script src="{{ url_for('static', path='/js/chat-send-message.js') }}"></script>
</html>
