<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/login.css') }}">
    <link rel="icon" href="{{ url_for('static', path='/favicon.ico') }}" type="image/x-icon">
    <title>Home</title>

<body>
    <div class="container">
        <h1>Login</h1>
        <form id="loginForm" action="/token" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            <button type="submit">Login</button>
        </form>
        <a href="/sign-up">Sign Up</a>
    </div>
</body>
<script src="{{ url_for('static', path='/js/auth.js') }}"></script>
</html>