<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/users.css') }}">
    <title>Users</title>

<body>
    <h1>Users</h1>
    <div class="container">
        <div class="users" id="users-container">
            {% for user in users %}
            <!-- <a href="/chat?id={{users[user]['user_id']}}">{{users[user]['username']}}</a> -->
            <hr>
            {% endfor%}
        </div>
    </div>
</body>
<script src="{{ url_for('static', path='/js/chat-web-socket.js') }}"></script>
<script src="{{ url_for('static', path='/js/display-users.js') }}"></script>
<script>
  if ('serviceWorkr' in navigator) {
    // Проверяем, есть ли уже зарегистрированный Service Worker
    navigator.serviceWorker.getRegistration().then(function(registration) {
      if (!registration) {
        // Если Service Worker не зарегистрирован, регистрируем его
        navigator.serviceWorker.register('sw.js').then(function() {
          console.log('Service Worker успешно зарегистрирован');
        }).catch(function(error) {
          console.error('Ошибка при регистрации Service Worker:', error);
        });
      } else {
        console.log('Service Worker уже зарегистрирован');
      }
    });
  } else {
    console.log('Service Worker не поддерживается');
  }
</script>
e
</html>
